---
layout: page
title: Tags
type: mainpage
permalink: /tags/
---
<!-- tags -->
{% for tag in site.tags %}
<div class="box">
  <h1><a name="{{ tag | first | cgi_encode }}"></a>{{ tag | first }}</h1>
  <ul class="postList" id="tag-{{ tag | first | cgi_encode }}">
  {% for post in tag[1] %}
    {% capture excerpt %}{% if post.excerpt %}{{ post.excerpt }}{% elsif post.description %}{{ post.description }}{% endif %}{% endcapture %}

    <li class="nested"><a href="{{ post.url }}" {% if excerpt %}title="{{ excerpt 'strip_html | strip_newlines'}}"{% endif %}>{{ post.title }} <span>{{ post.date | date: '%d.%m.%y' }}</span></a></li>
  {% endfor %}
  </ul>
</div>
{% endfor %}
